<% unless current_user == user %>
	<li class='user_list'>
		<div class="row">
			<div class="col-md-3">
	  		<%= link_to user.name, user %>
	  	</div>
	  	<div class="col-md-3">
    		<%= link_to "Message", conversation_messages_path(conversation_id: Conversation.get(user, current_user).id) %>
	  	</div>
	  	<div class="col-md-3">
    		<%= render 'block', user: user %>
	  	</div>
	  </div>
	</li>
<% end %>
