<li>
	<div class="row">
		<div class="col-md-4">
  		<%= link_to user.name, user %>
  	</div>
		<div class="col-md-4">
  	</div>
    <div class="col-md-4">
  		<%= link_to "Message", "#" %>
  	</div>
  </div>
</li>