<div class="row">
  <div class="col-md-6", style="margin-top: 56px">
    Name: <strong><%= @user.name %></strong>
  </div>
  <div class="col-md-6">
    Email: <strong><%= @user.email %></strong>
  </div>
  <div class="col-md-6">
    Phone: <strong><%= @user.phone_number %></strong>
  </div>
  <div class="col-md-6">
    Gender: <strong><%= @user.gender %></strong>
  </div>
</div>